/Exercícios java/Netbeans Projects/exercicio1/target/
/Exercícios java/Netbeans Projects/exercicio2/target/
/Exercícios java/Netbeans Projects/exercicios3/target/
/Exercícios java/Netbeans Projects/exercicio4/target/
/Exercícios java/Netbeans Projects/exercicio5/target/
/Exercícios java/Netbeans Projects/exercicio6/target/
/Exercícios java/Netbeans Projects/exercicio7/target/
/Exercícios java/Netbeans Projects/exercicio8/target/
/Exercícios java/Netbeans Projects/exercicio9/target/
/NetBeansProjects/Notebook/build/
/NetBeansProjects/Notebook/nbproject/private/
/NetBeansProjects/NumeroComplexo/nbproject/private/
/NetBeansProjects/ProjetoCofre/nbproject/private/
/NetBeansProjects/ProjetoCofre/build/
/NetBeansProjects/AplicacaoTAD/nbproject/private/
/NetBeansProjects/Escalonador/nbproject/private/
/NetBeansProjects/Teste/nbproject/private/
/NetBeansProjects/Teste/build/
/NetBeansProjects/UpperComputersNT/nbproject/private/
/NetBeansProjects/UpperComputers/nbproject/private/
/NetBeansProjects/UpperComputers/build/
